<!DOCTYPE HTML>
<html>
<head>
	<title>ExpData</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="js/jquery.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css"> 
	<script src="js/bootstrap.min.js"></script>  
	 	
	<link rel="stylesheet" href="css/bootstrap-table.css">
	<script src="js/bootstrap-table.js"></script>
	<script src="js/bootstrap-table-export.js"></script>
	<script src="js/tableExport.js"></script>


	<script type="text/javascript">
		function giveFocus() 
		{
			document.insert.name.focus()
		}
		function submitForm()
		{
			document.insert.submit()
		}
		function resetForm() 
		{
			document.insert.reset()
			document.insert.name.focus()
		}
	</script>

	<script type="text/javascript">
	        $(function() {
	            var $table = $('#mytable');
	            $('#toolbar').find('select').change(function() {
	                $table.bootstrapTable('refreshOptions', {
	                    exportDataType: $(this).val()
	                });
	            });
	        });
	</script>

	<style>
		body {
	 		font-family: "Times New Roman";
	 		margin:0 auto;
	 		width: 95%
	 	}
	 	#mytable {
		table-layout: fixed;
		word-wrap: break-word;
	}
		tr {
			height: 3rem;
			width: 1000px; 
			padding:0px;
		}
		#upload-table>td {
			width:8em;
			margin:0px;
			padding:0px 0px;
		}
		th {
			font-size: 1.5rem;
		}
		
		/*.th1 {	width: 5rem;	}
		.th2 {	width: 5rem;	}
		.th3 {	width: 10rem;	}
		.th8 {	width: 10rem;	}
		.th9 {	width: 10rem;	}
		.th10 {	width: 10rem;	}
		.th11 {	width: 5rem;	}*/
		
		.sInput  {
			margin:0;
			font-size: 1.5rem;
			height: 2.2rem;
			width: 15rem;
			border-radius: 5px;
		}
		
		#mytable > input {
			width:1em;
			margin:0px;
			padding:0px;
		}
		
		select  {
			margin:0;
			font-size: 1rem;
			height: 2rem;
			width: 5rem;
		} 
		.navbar {
		 	font-size: 2rem;
		}
		
		/* bootstrap css style */
	</style>
</head>
<body >
<!-- navbar start -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html" style="font-size:1.2em;">TCL QLED</a>
    </div>
    <ul class="nav navbar-nav ">
      
      <!-- <li><a href="task.html">Task Lists</a></li> -->
      <li><a href="experDataForm.html">ExperData</a></li>
      <li><a href="experDataForm I.html">ExperData I</a></li>
      <li><a href="#">ExperData II</a></li>
      <!-- <li><a href="fileupload/index.html">File Upload</a></li>
      <li><a href="dataAnalysis.html">Data Analysis</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>admin</a></li>
      <li><a href="index.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<!-- navbar end -->
		
	<form style="padding:10px;border: 1px solid gray; border-radius: 5px">
		<div class="row">
			<div class="col-md-1">
				<label>Device No.</label> <input class="form form-control" value="A1111a">
			</div>
			<div class="col-md-1">
				<label>pixel</label> <input class="form form-control" value="2">
			</div>	
			<div class="col-md-1">
				<label>I(mA)</label> <input class="form form-control" value="2">
			</div>
			<div class="col-md-1">
				<label>Init L(cd/m<sup>2</sup>)</label> <input class="form form-control" value="10000">
			</div>	
			<div class="col-md-1">
				<label>LT95 (h)</label> <input class="form form-control" value="1">
			</div>	
			<div class="col-md-1">
				<label>LT90 (h)</label> <input class="form form-control" value="2">
			</div>	
			<div class="col-md-1">
				<label>LT80 (h)</label> <input class="form form-control" value="4">
			</div>	
			<div class="col-md-1">
				<label>LT75 (h)</label> <input class="form form-control" value="8">
			</div>	
			<div class="col-md-1">
				<label>LT50 (h)</label> <input class="form form-control" value="100">
			</div>	
			<div class="col-md-3">
				<label>Comment</label> <input class="form form-control" value="...">
			</div>			
		</div>
			<button class="btn btn-success" type="button" value="UpLoad" onclick="submitForm()" style="margin: 20px auto;font-size: 0.75em;">UpLoad</button>
			<button class="btn btn-danger"type="button" value="Reset" onclick="resetForm()" style="margin: 20px auto;font-size: 0.75em;"> Reset</button>
	</form>

	<hr style="height:10px;border:none;border-top:5px groove gray;" />

<!-- lists start -->
		<div id="toolbar">
		<select class="form-control">
			<option value="">Export Basic</option>
			<option value="all">Export All</option>
			<option value="selected">Export Selected</option>
		</select>

		
	</div>
	<table data-toggle="table" id="mytable" data-pagination="true" data-show-columns="true"
		data-search="true"  data-show-export="true" data-toolbar="#toolbar">
		<thead>	
			<tr>
				<th  data-field="state" data-checkbox="true" ></th>
				<th class="th1" data-field="name1" data-sortable="true">No</th>
				<th  class="th2" data-field="name7" data-sortable="true" >pixel</th>
				<th  class="th3" data-field="name2" >I (mA)</th>
				<th  class="th4" data-field="name3" >Init L(cd/m<sup>2</sup>)</th>
				<th  class="th5" data-field="name4" >LT95 (h)</th>
				<th  class="th6" data-field="name5" >LT90 (h)</th>
				<th  class="th7" data-field="name6" >LT80 (h)</th>
				<th  class="th8" data-field="name8" >LT75 (h)</th>
				<th  class="th9" data-field="name11" >LT50 (h)</th>
				<th  class="th10" data-field="name9" >Comment</th>
				<th class="th11" data-field="name10" >Option</th>
				
			</tr>
		</thead>
		
		<tbody>
			<tr>	
				
				<td ></td>
				<td >A1111a</td>
				<td>2</td>
				<td >2</td>
				<td>10000</td>
				<td>1</td>	
				<td>2</td>
				<td>3</td>
				<td >8</td>
				<td>100</td>
				<td>...</td>
				<td><a href="experDataForm2.jsp?deviceNo=<%= deviceNo %>"><span class="glyphicon glyphicon-edit"></span></a>
				<a href="deleteExperDataForm.jsp?deviceNo=<%= deviceNo %>"><span class="glyphicon glyphicon-trash"></span></a></td>
			</tr>
		</tbody>
	</table>
<!-- lists end -->	
	
</body>
</html>
